@font-face {
  font-family: 'BodoniFLF-Roman';
  src:url('fonts/BodoniFLF-Roman.ttf.woff') format('woff'),
  url('fonts/BodoniFLF-Roman.ttf.svg#BodoniFLF-Roman') format('svg'),
  url('fonts/BodoniFLF-Roman.ttf.eot'),
  url('fonts/BodoniFLF-Roman.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BodoniFLF-Bold';
  src:url('fonts/BodoniFLF-Bold.ttf.woff') format('woff'),
  url('fonts/BodoniFLF-Bold.ttf.svg#BodoniFLF-Bold') format('svg'),
  url('fonts/BodoniFLF-Bold.ttf.eot'),
  url('fonts/BodoniFLF-Bold.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
