$color-red: #2f736c;
$color-green:#e9f4ee;
$color-dg: #267b78;
$color-lg: #e8f5f1;
$color-bg: #ffffff;

$font-large:'BodoniFLF-Roman';
$font-xlarge:'BodoniFLF-Bold';
$font-special:'Roboto Condensed';
$font-calluna:'Roboto Condensed';
$font-calluna-sans:'Roboto Condensed';

body {
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

h1 {
	font-family: $font-large;
	text-transform:uppercase;
	color:$color-dg;
	text-align: center;

	@include at-breakpoint(0 $break-phone) {
		span:first-child {
			display:block;
		}
	}

	@include at-breakpoint($break-phone $total-columns) {
		span:last-child {
			display:block;
		}
	}
}

h2 {
	font-family:$font-xlarge;
	text-transform:uppercase;
	text-align:center;
  color:$color-dg;
}

h3 {
	font-family: $font-large;
	text-transform:uppercase;
	text-align:center;
  color:$color-dg;
}

h4 {
	font-family:$font-special;
	text-transform:uppercase;
    color:$color-dg;
}

.row {
	h4 { text-align:center;}
}

.nav {
	ul {

		li {
			text-transform:uppercase;
		}
	}

	h4 {
		text-align:right;
		margin: 8px 0;
	}
}

p, ul li {
	font-family:$font-calluna-sans;
	font-weight: 300;
}

a {
	text-decoration: none;
    color:$color-dg;
	&:hover {
        color:$color-dg;
		border-bottom: 1px solid #000;
	}
}

#apply-link {
	font-family: $font-large;
}

.nav-bar-phone {
	font-family:$font-large;
	text-align:center;
	text-transform:uppercase;
  color:$color-dg;
}