@import "compass";
@import "compass/reset";
@import "compass/css3/images";
@import "compass/typography/vertical_rhythm";
@import "susy";
@import "_layout/grid";
@import "_layout/baseline";
@import "_layout/fonts";
@import "_layout/icons";

$color-red: #ec665d;
$color-green:#e8f5f1;
$color-dg: #267b78;
$color-lg: #e8f5f1;
$color-bg: #ffffff;

$font-large:'BodoniFLF-Roman';
$font-xlarge:'BodoniFLF-Bold';
$font-special:'Roboto Condensed';
$font-roboto-condensed:'Roboto Condensed';


body {
  background-color: $color-green;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}


h1 {
  font-family: $font-large;
  text-transform:uppercase;
  color:$color-dg;
  text-align: center;

  @include at-breakpoint(0 $break-phone) {
    span:first-child {
      display:block;
    }
  }

  @include at-breakpoint($break-phone $total-columns) {
    span:last-child {
      display:block;
    }
  }
}

h2 {
  font-family:$font-xlarge;
  text-transform:uppercase;
  text-align:center;
  color:$color-dg;
}

h3 {
  font-family: $font-large;
  text-transform:uppercase;
  text-align:center;
  color:$color-dg;
}

h4 {
  font-family:$font-special;
  text-transform:uppercase;
  color:$color-dg;
}



.nav {
  ul {

    li {
      text-transform:uppercase;
    }
  }

  h4 {
    text-align:right;
    margin: 8px 0;
  }
}

ul li {
  font-family:$font-roboto-condensed;
  font-weight: 300;
}
p {
  font-family:$font-roboto-condensed;
  font-weight: 300;
  line-height: 1.7em;
  text-align: justify;

  strong{
    font-weight: 400;
  }
}


a {
  text-decoration: none;
  color:$color-dg;
  &:hover {
    color:$color-dg;
    border-bottom: 1px solid #000;
  }
}
.rep a{
  color:$color-red;
  &:hover {
    color:$color-red;
    border-bottom: 1px solid #000;
  }
}
#apply-link {
  font-family: $font-large;
}

.nav-bar-phone {
  font-family: $font-large;
  text-align: center;
  text-transform: uppercase;
  color: $color-dg;
}

.nav-bg {
	position:fixed;
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.6);
	display:none;
}
.rep{
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    vertical-align: baseline;
    background: url(../images/divider.png) no-repeat 10% 90%;

      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        background: url(../images/divider@2x.png) no-repeat 10% 90%;
      }
}


p.leader {
	text-align: center;
}
h4.bankett{
    font-size:25px;
}
.nav-collapse-btn {
	display:none;
	height:100%;
	width:0;
	float:right;

	@include at-breakpoint($break-phone $total-columns $break-tablet-portrait) {
		display:block;
		width:$nav-collapse-btn-width;
	}
	@include at-breakpoint(0 $break-phone) {
		display:none;
	}
}

.nav-bar-phone {
	display:none;
    color:$color-bg;
	background: $color-dg;
	position:fixed;
	top:0;
	width:100%;
	
	.nav-bar-phone-inner {
		height:$nav-phone-btn-height;
		margin-left: $nav-phone-btn-width;	
		line-height: $nav-phone-btn-height;
		font-size: 1.5em;
	}
	
	.nav-collapse-btn-phone {
		height:$nav-phone-btn-height;
		float: right;
		color:$color-bg;
		width: $nav-phone-btn-width;
		text-align: center;
	}

	@include at-breakpoint(0 $break-tablet-portrait) {
		display:block;
	}
}

.nav {
	background: $color-bg;
	z-index:1000;

	h4 {
		margin-bottom:5px;
	}

	ul {
		text-align:right;

		li {
			text-align:right;
		}
	}

	.nav-wrapper {
		overflow:auto;
	}


	#apply-link-wrapper {
		background: $color-bg;
		position:absolute;
		bottom:0;
		width:$nav-width;
		height: 90px;

		#apply-link {
			background: $color-dg;
			color:$color-bg;
			font-size: 2em;
			display:block;
			text-align:center;
			text-transform:uppercase;
			line-height: 58px;
			margin:20px;

			&:hover {
				text-decoration: none;
			}
		}	
	}

	@include at-breakpoint($break-phone $total-columns $break-tablet-portrait) {
      display:none;
		width:$nav-width+$nav-collapse-btn-width;
	}
}


.row {
	.inner {
		background: $color-bg;
		padding:60px;
		margin-bottom:120px;

      @include at-breakpoint(0 $break-phone) {
        margin-top:120px;
      }
	}
  &.center{
    margin-top:20px;
    text-align:center;
    margin-bottom:120px;
  }
}

#logo {
	text-align:center;
}

#contact {
	span {
		display:block;
	}
}

#om, #gruppledare {
	@include at-breakpoint($break-phone $total-columns) {
		margin-top: 670px;
		margin-bottom: 900px;
	}
}

