#logo=image_tag "logo.png"
%h1 Recruitment 2015
%p

#signup.row
	%div.rep
		%h3= link_to 'Apply here!', 'http://recruitment.armada.nu'
	.row.center
		%h4 NOTE: The application deadline is 15th of September.
		%br
		%h4 If an error-message appear in your application, please contact
		%h4= link_to "support@armada.nu", "mailto:support@armada.nu"
		%br
#about.row
	.inner
		%h3 About THS Armada
		%p THS Armada is the largest student-driven organisation at KTH arranging the Armada Fair where over 150 market-leading companies and organisations are gathered for two days, 17-18th of November, to meet students. Aside from the fair, THS Armada has several other events and a grand banquet. The project is led by a student who is taking a year off to work for the student union THS. The organisation has three main groups, working with different areas, led by a project group consisting of 20 students. Along with them 50 team leaders, developers, creators and coordinators are taking the project forward, and will now be joined by about 244 hosts.
		%p
			This year we have chosen to develop our concept in several areas.
			%strong Digitalisation -
			We focus on integrating technology in a larger extent by offering a well functioning mobile application as well as a fair catalogue which will be 100% digital.
			%strong Sustainability -
			We focus on areas where we can make changes towards a more sustainable fair.
			%strong Diversity -
			Together we work for further development in equality and diversity. Our fair is for everyone and this year we will involve international students within the project.

#thsarmda.row
	.inner
		%h3 Join THS Armada
		%p THS Armada is now growing bigger. We’re looking for hosts for the events/fair/banquet, people taking care of technology/logistics and photographers. Have a look further down at all the specific descriptions!

		%p We’re looking for you who love teamwork and see cooperation as a matter of course. Other valuable qualities are that you’re solution-oriented and like to take responsibility. Being a part of the project involves intensive work over a few days, so it's important that you can handle stress and are able to spend the time required. In addition to the specific functions of each role it’s expected from all hosts to take part in the marketing campaigns at campus during the fall. To be a part of THS Armada it’s also a requirement that you are a member of the student union at KTH -  THS.

		%p
			There is no better way to get to know new people and have fun than by creating KTHs largest student driven project together! Join us and apply no later than the
			%strong 15th of September!

		%h4 Contact

		#contact
			.span5
				%p
					%span Kajsa Castor
					%span Recruitment Manager
					%span +4673-754 78 95
					%span=link_to "kajsa.castor@armada.nu", "mailto:kajsa.castor@armada.nu"
			.clear
#mks.row
	.inner
		%h3 Marketing, Communications and Internal Systems
		%p Marketing, Communications and Internal Systems is the group responsible for THS Armada’s communications, both externally and internally. The group manage campaigns and marketing as well as the website, application and internal systems.

		#photo-host
		%h4 Photographer (4)
		%p As a Photographer, you are part of the team that documents everything that happens before and during THS Armada. This includes photographing the different events, the fair and the banquet. In the beginning of October you will also take individual portraits of all the members of the project, so make sure you are available at that time. You need to be creative and as a person you are positive and outgoing. Previous experience of photography and work samples are a plus.

#ne.row
	.inner
		%h3 Business Relations and Events
		%p Business Relations and Events is the group responsible for the events, the service and lounges during the fair as well as the closing banquet. The group is also responsible for business relations and sponsorships.

		#event-host
		%h4 Event Host (12)
		%p THS Armada is not just a career fair, it also includes events such as a 5 km-run, various case solving-challenges and theme lectures. As an Event Host you are a part of the team that makes sure every event is valuable for both students and the participating companies. You prefer to work in a team and you are positive and outgoing. Besides hosting the events, the role also includes some contact with the companies involved, therefore you are structured and professional. Most of the events will take place before the fair, starting in October, so make sure you have time during the fall.

		#service-host
		%h4 Service Host (16)
		%p As a Service Host, you are responsible to provide the fair visitors as good service as possible. The role includes both work at the information desk, the student lounge and the wardrobes in Nymble and KTHB. It’s important that you are service minded, positive and have good communication skills since you have a lot of contact with different people. You prefer to work in a team, you are outgoing and have good social skills. As a Service Host you also prepare the fair in Nymble and KTHB the weekend before the fair, so make sure you can participate at that time.

		#lounge-host
		%h4 Lounge Host (12)
		%p During the fair, there are two lounges, one in Nymble and one in KTHB available for the exhibitors and all members of the project. As a Lounge Host you are a part of the team that are responsible for the lounge interior and the food served. You have good social skills and a welcoming and service oriented attitude. Since the work involves intensive work during a few days it’s important that you can handle stress and have a positive attitude.

		#banquet-host
		%h4 Banquet Host (9)
		%p As a Banquet Host you are a part of the team that hosts the Banquet of THS Armada. The work during the banquet day involves tasks such as preparing the banquet hall, managing the logistics and make sure that unforeseen incidents affects the banquet as little as possible. You are accustomed to work under stressful conditions since the banquet day is intensive. You prefer to work in a team, are solution-oriented and comfortable making your own decisions. It's a plus if you are creative and like decorating since a part of the work involves decorate the banquet hall.

		#banquet-host-ent
		%h4 Banquet Host: Entertainment (2)
		%p As a Banquet Host: Entertainment you are a part of the team that are responsible for the entertainment during the Banquet of THS Armada. Before the banquet you plan the details of the entertainment as well as assist in filming the movies for the banquet. During the banquet you have an operational responsibility, ensuring that the evening do not divert from the schedule and that the performers get great service. Your social skills will greatly benefit since the work involves contact with the performers. Furthermore you are self-going and are accustomed to handle stress.

#lm.row
	.inner
		%h3 Logistics and Career Fair
		%p Logistics and Career Fair is the group planning and doing the operational work before, during and after the fair. The group is responsible for the recruitment of THS Armada team and the reception of representatives from other universities during the fair.

		#fair-host
		%h4 Career Fair Host (159)
		%p Som Mässgruppledare är din huvuduppgift att leda en grupp Företagsvärdar under det operativa arbetet innan, under och efter mässan. Du bidrar även till att skapa ett tydligt informationsflöde mellan projektgruppen och värdarna. Varje Mässgruppledare kommer dessutom att tilldelas ett större uppdrag som till exempel kan innebära ansvar för värdutbildning eller teambuilding. Det ställs krav på att du är lösningsorienterad och bekväm med att fatta snabba beslut för att kunna lösa oförutsedda problem under mässan. Vi söker dig som är strukturerad, kommunikativ och intresserad av människor.

		#uni-host
		%h4 University Relations Host (8+2)
		%p Every year, representatives from other universities in Sweden are invited to THS Armada. As a University Relations Host you are a part of the team that welcomes these representatives. The team works together but are divided into two groups with two different responsibilities. One part makes sure the guests have a pleasant stay, by guiding them through the day and is available for answering any questions they might have. The other part of the group is responsible for hosting the party held for the visiting universities. The work includes preparing and decorating the venue as well as make sure the representatives have the best evening possible. Other desirable qualities is that you prefer to work in a team and have good communication skills as the role includes contact with many different persons.

		#task-force
		%h4 Task force (10+10)
		%p The Task force is the part of THS Armada that work with the logistics and technology before, during and after the fair. The team work together but are divided into two groups with two different responsibilities. One part is responsible for the logistics, which includes taking care of the exhibitors goods. The other part is responsible for the technology which among other things includes supplying the exhibitors with electricity. As a part of the Task force you also work to resolve unforeseen problems that arise during the fair. As the role involves a lot of intensive work over a few days it is important that you are positive and want to create a good atmosphere within the team. You have good problem solving skills and are comfortable making your own decisions. It’s a plus if you have a driving license and are willing to drive smaller trucks.