#logo=image_tag "logo.png"
%h1 Vårrekrytering
%h2 Roller och beskrivningar 2014
#ansok.row
	%h3= link_to 'Ansök här!', 'http://niwen.armada.nu/fairs/armada2014/recruitment_periods/32/applications/new'
	%p
	%h3 OBS: Om ni får ett error-meddelande vid ansökan, skicka då ett mail till support@armada.nu
#om.row
	.inner
		%h3 Vad är Armada
		%p Armada är Tekniska Högskolans Studentkårs (THS) arbetsmarknadsdagar och ett av de största projekten på KTH. Under november samlas mer än 10 000 talangfulla studenter och cirka 150 eftertraktade arbetsgivare för att lära känna varandra både på mässgolvet och genom de event som Armada arrangerar.
		
		%p Armada arrangerades för första gången 1981 och har varit en återkommande höstföreteelse på KTH sedan dess. Projektet omsätter idag över 6 miljoner kronor och engagerar runt 300 studenter vid KTH. Förutom mässan, erbjuder Armada även en rad olika typer av events.


		%h4 Kontakt
		#contact
			.span5
				%p 
					%span Hannah Björk, Projektledare
					%span 08-790 98 44
					%span= link_to "armada@ths.kth.se", "mailto:armada@ths.kth.se"
			.span5
				%p 
					%span Lina Börjeson, Rekryteringsansvarig
					%span= link_to "lina.borjeson@armada.nu", "mailto:lina.borjeson@armada.nu"
			.clear
#armda.row
	.inner
		%h3 Vad innebär det att vara en del av Armada
		%p Som en del av Armada har man en ytterst viktig roll vid planeringen och genomförandet av Armadas mässa, dess evenemang och avslutande bankett.
		%p I rollen som Gruppledare (gäller ej Utvecklare och Formgivare) ansvarar du oftast för en grupp värdar inom ett särskilt område; exempelvis en viss yta på mässan, ett event, en lounge, eller underhållningen på Armadas bankett. Men arbetet innebär även ibland att du arbetar ensam eller i nära kontakt med en medlem i Projektgruppen. För dig som arbetar med en grupp värdar krävs ett produktivt ledarskap samt en förmåga att få gruppen att arbeta tillsammans mot det gemensamma målet. Dessutom behövs en förståelse för varför denna gruppdynamik förbättrar projektet på sikt. För de som arbetar utan värdar krävs självständighet och förmåga att arbeta i nära kontakt med personer i Projektgruppen.

		%p Gemensamt för alla som är med vad gäller arbetsuppgifter är deltagandet i höstens marknadsföringskampanjer samt genomförandet av värdintervjuer under höstens rekrytering. Även om merparten av ens arbetssysslor utförs under hösten, bör man vara medveten om att mycket av planeringsarbetet och en del teambuildingsaktiviteter genomförs redan under vårterminen.

		%p Förutom specifika kunskaper inom respektive område ser vi gärna att du förstår värdet och helheten i projektet samt vikten av att bidra till det på sikt. Det krävs att man dels förstår det essentiella med det man själv tillför projektet, men också den inspiration man levererar till sina efterträdare och andra deltagare. Du skall bidra med en inspirerande lojalitet samt arbetsvillighet och framförallt inse att Armada är det roligaste som finns eftersom det är först då den bästa Armada kan skapas.

		%p Är du Gruppledaren, Utvecklaren eller Formgivaren som vi söker?
#marknadsforing-kommunikation.row
	.inner
		%h3 Marknadsföring & Kommunikation
		%p Marknadsföring och Kommunikationsgruppens (M/K-gruppen) primära uppgift är att förmedla kännedom och kunskap om Armada mot studenter, media och företag. Gruppen skall planera marknadsföringsstrategier och genomföra reklamkampanjer. I gruppen finns även ansvaret för att ta fram en grafisk profil för Armada 2014 samt för att underhålla hemsidan. Gruppen skapar även Armadakatalogen och andra eventuella kommunikationsverktyg. Under året kommer gruppen även att kampanja, intervjua kandidater under värdrekryteringen samt utföra andra relaterade arbeten.

		#it
		%h4 IT-utvecklare (1 st)
		%p IT-utvecklare ingår i ett nära samarbete med IT-Kommunikationsansvarig i Projektgruppen och arbetar främst med att förbättra och utveckla Armadas hemsida och IT-Kommunikationsverktyg. Att vara IT-utvecklare innebär ett stort ansvar och utifrån givna problemställningar krävs att man ska kunna leverera kompletta IT-lösningar vid utsatta deadlines. Önskvärda egenskaper är stresstålighet, samarbetsförmåga och ett starkt intresse för IT-utveckling. Kunskaper inom webbutveckling är ett krav och då främst inom Ruby on Rails. Arbetsprover är starkt meriterande. Vi ser även gärna att du har ett kreativt tänkande och bidrar med förslag angående förbättringar. 

		#app-utv
		%h4 App-utvecklare (2 + 2 st)
		%p Apputvecklare ingår i ett nära samarbete med IT-Kommunikationsansvarig i Projektgruppen och arbetar med att utveckla Armadas mobilapplikationer. Att vara Apputvecklare innebär ett stort ansvar och utifrån givna problemställningar krävs att man ska kunna leverera kompletta IT-lösningar vid utsatta deadlines. Önskvärda egenskaper är stresstålighet och samarbetsförmåga och ett starkt intresse för IT-utveckling. Som Apputvecklare kommer du arbeta i team bestående av två utvecklare för Android och två utvecklare för iOS. Därför söker vi dig med kunskaper inom iOS-utveckling  och/eller Android-utveckling. Arbetsprover är starkt meriterande. Vi ser även gärna att du har ett kreativt tänkande och bidrar med förslag angående förbättringar.

		#kampanj
		%h4 Kampanjgruppledare (2 st)
		%p Kampanjgruppledarna fungerar som en länk mellan Kampanjansvarig i Projektgruppen och alla som kampanjar. Kampanjgruppledarnas främsta uppgift är att vara med i planeringen och genomförandet av årets kampanjer under mottagningen, värdrekryteringen, tentapubar, olika evenemang samt mässan. Att vara kampanjgruppledare kräver ett stort intresse för marknadsföring av Armada och du måste gilla att synas på KTHs campus. Andra önskvärda egenskaper är kreativitet, stresstålighet och en utåtriktad personlighet i allmänhet. 

		#foto
		%h4 Fotogruppledare (1 st)
		%p Fotogruppledaren fungerar som en länk mellan Projektgruppen och fotovärdarna. Gruppledaren ingår i Marknadsföring och Kommunikationsgruppen och är med i utformningen och genomförandet av årets dokumentation och marknadsföring av Armada. Fotogruppledaren ansvarar för ett par fotovärdar som tillsammans deltar, dokumenterar och planerar alla Armadas tillställningar samt bistår hemsidan, katalog och kampanjarbetet med fotomaterial. Vi söker dig som har ett stort intresse för fotografering, erfarenhet inom bildbehandling och effektivisering av eget arbetsflöde. Andra önskvärda egenskaper är kreativitet och stresstålighet. Arbetsprover är starkt meriterande.

		#filmskapare-Kampanj
		%h4 Filmskapare Kampanj (1 st)
		%p Filmskaparen med inriktning mot kampanj är en kreativ och självgående roll som innefattar skapandet av allt filmmaterial som används för marknadsföringsändamål under året. Som Filmskapare arbetar du nära Projektgruppen och i huvudsak med Art Director för Kampanj och Katalog vid idégenerering och planering kring filmskapandet. Arbetet sker individuellt då rollen inte blir tilldelad några värdar. Det arbete och planering som utförs sker till stor del under sommaren. Eftersom du främst ansvarar för att spela in och redigera rörlig bild är det viktigt att du har ett stort intresse för detta. Vi söker dig som har goda kunskaper och ett visst mått av erfarenhet gällande filmproduktion, foto och redigering. Du ska vara en kreativ person med många idéer. Arbetsprover är meriterande.

		#grafisk-formgivare
		%h4 Grafisk formgivare (2 st)
		%p De Grafiska formgivarna ingår i ett nära samarbete med Projektgruppen och arbetar i huvudsak med Art Director för Kampanj och Katalog. Formgivarna är med och utformar designen av årets marknadsföring kring såväl det tryckta som det digitala materialet och kommer att ha ett mycket nära samarbete med varandra och med resten av Marknadsföring och Kommunikationsgruppen. Vi söker dig som är kreativ, noggrann, stresstålig, har förmågan att jobba mot deadlines samt vana med Adobe CC-programmen; främst Illustrator, InDesign och Photoshop. Arbetsprover är starkt meriterande. De grafiska formgivarna kommer inte att leda en arbetsgrupp utan jobbar direkt under Art Director Kampanj och Katalog.
#naringsliv-event.row
	.inner
		%h3 Näringsliv & Event
		%p Näringsliv och Eventgruppen (N/E-gruppen) ska tillsammans nå målet för en diverse skara utställare och en fylld mässa samt för planering och genomförande av Armadas mycket centrala kringarrangemang så som banketten, eventen och loungerna. Allt sponsrings- och inköpsarbete koordineras också av denna grupp. Under året kommer gruppen även att kampanja, intervjua kandidater under värdrekryteringen samt utföra andra relaterade arbeten.

		#event
		%h4 Eventgruppledare (4 st)
		%p Eventgruppledaren fungerar som en länk mellan Eventansvarig i Projektgruppen och alla Eventvärdar. Tillsammans med Eventansvarig leder och utformar gruppledarna de event som arrangeras innan och under mässan. Varje gruppledare är huvudansvarig för ett större event och två mindre events varför denna post innebär ett stort ansvar där det finns rum för mycket kreativitet och egna idéer. Förutom planering och genomförandet av eventen schemalägger och styr gruppledaren värdarnas arbete. Eventgruppledarna ansvarar gemensamt för samtliga Eventvärdar och allokerar dem över eventen. Uppdraget kräver ett entusiasmerande ledarskap kombinerat med en förmåga att sammansvetsa en grupp till att utföra ett arbete tillsammans.

		#spons
		%h4 Sponskoordinator (1 st)
		%p Sponskoordinatorn ansvarar för att tillsammans med Spons- och Serviceansvarig i Projektgruppen ha en helhetskontroll över i princip all sponsring som rör Armada. Ett av de största arbetsområdena är att i samarbete med Spons- och Serviceansvarig och andra gruppledare arbeta fram sponsring till loungerna samt de kampanjer och evenemang som anordnas i anknytning till Armada och att se till att logistiken kring detta fungerar bra. Sponskoordinatorn kommer även att ha det yttersta ansvaret för sponsringen till Armadabanketten och införskaffandet av årets Armadaväska och dess innehåll. Vi söker dig som är utåtriktad, ambitiös, ger ett professionellt intryck och viktigast av allt; kan sälja konceptet Armada. Även om Sponskoordinatorn jobbar mycket med andra gruppledare så kommer en stor del av dennes jobb att vara självständigt. Därför är det viktigt att du är driven och kan ta stort eget ansvar.

		#lounge
		%h4 Loungegruppledare (2 st)
		%p Loungegruppledaren fungerar som en länk mellan Spons- och Serviceansvarig i projektgruppen och alla Loungevärdar. Loungegruppledarna ansvarar för ett antal Loungevärdar och har en viktig roll i arbetet med att planera, utforma och driva företagsloungerna i KTHB och Nymble under mässdagarna. De varierande arbetsuppgifterna inkluderar allt från att söka spons tillsammans med andra gruppledare, till att lösa logistiska utmaningar kring loungerna. Dessa utmaningar är bland annat att loungerna ska klara av ett ständigt folkflöde och samtidigt ta hänsyn till den estetiska aspekten då loungerna ska framkalla en trevlig och välkomnande atmosfär där företagen kan koppla av. Vi söker dig som är kreativ, drivkraftig, stresstålig, social och kundorienterad, samt som inte avskräcks från att jobba tidiga morgnar.


		#service
		%h4 Servicegruppledare (2 st)
		%p Servicegruppledaren fungerar som en länk mellan Spons- och Serviceansvarig i projektgruppen och Servicevärdarna. Under mässan ansvarar Servicegruppledaren för ett antal Servicevärdar som tillsammans bistår besökarna och mässdeltagare med allmän service i Nymble respektive KTHB och kommer tillsammans med andra gruppledare att söka sponsring till loungerna och se till att dessa är väl utformade. Till rollerna som Servicegruppledare efterfrågas självgående, kreativa och engagerade personer som trivs i stora sociala sammanhang och har lätt att ta kontakt med nya människor. Som Servicegruppledare ska du brinna för god service och vara mån om att ge ett professionellt intryck.


		#log-bankett
		%h4 Logistikgruppledare Bankett (1 st)
		%p Logistikgruppledaren ansvarar främst för den operativa driften av Banketten men utgör även en viktig roll vid idégenereringen, planeringen samt skapandet av årets bankettkoncept tillsammans med Bankettansvarig och övriga gruppledare i bankettgruppen. Gemensamt för alla Bankettgruppledare är att de ska vara glada och utåtriktade, trivas i festsammanhang och vara villiga att arbeta hårt. I logistikrollen ingår ansvarsområden såsom människoflöden, leveranser och inredning. Rollen kan liknas vid en ”specialstyrka” då du även vid behov kommer rycka in och hjälpa de andra Bankettgruppledarna i deras arbete. Du som Logistikgruppledare i Bankettgruppen ansvarar även för en grupp värdar vilket kräver ett gott ledarskap och en förmåga att inkludera alla i det arbete som åläggs er. Vi söker dig som är strukturerad, skicklig på att leda under stress samt har en stor social förmåga.

		#teknik-bankett
		%h4 Teknikgruppledare Bankett (1 st)
		%p Teknikgruppledaren ansvarar för planering och hantering av bland annat teknisk utrustning, ljud och ljus som tillsammans utgör en viktig del av stämningen på Banketten och Efterfesten. I rollen ingår ansvaret över den kontinuerliga kontakten med lokalansvarig samt externa tekniker som du kommer arbeta med under Banketten och Efterfesten. Gemensamt för alla Bankettgruppledare är att de ska vara glada och utåtriktade, trivas i festsammanhang och vara villiga att arbeta hårt. Gruppledaren har det övergripande ansvaret för elen i lokalen men utgör även en viktig roll vid planering och utformning av bankettkonceptet tillsammans med Bankettansvarig och de övriga Bankettgruppledarna. Vi söker dig som har allmän erfarenhet och intresse inom teknik och en känsla för hur teknik kan integreras i en givande stämning till Banketten. Du ska ha god samarbetsförmåga då du förväntas koordinera uppgifter mellan både interna och externa parter. 


		#underhallning
		%h4 Underhållningsgruppledare Bankett (1 st)
		%p Underhållningsgruppledaren ansvarar för underhållningen under Banketten och Efterfesten. I rollen arbetar du tätt ihop med stora delar av Bankettgruppen samt Projektgruppen. Gemensamt för alla Bankettgruppledare är att de ska vara glada och utåtriktade, trivas i festsammanhang och vara villiga att arbeta hårt. Arbetet innefattar planering och bokning av underhållning utifrån tema och budget såsom artistbokning, toastmaster samt skapandet av underhållningens minutschema. Tillsammans med Projektgruppen arbetar du även med att framställa de filmer som skall visas under middagen. Vi söker en social person med god samarbetsförmåga som gillar att nätverka. Du ska känna dig trygg i en ledarroll samt vara organiserad och stresstålig. Det är ett plus om du är säljinriktad då det kommer falla under Underhållningsgruppledaren att förhandla fram avtal med artister med mera.

		#filmgl-Bankett
		%h4 Filmgruppledare Bankett (1 st)
		%p Filmgruppledaren är en kreativ och självgående roll som innefattar skapandet av allt filmmaterial som används under Banketten. Filmgruppledaren jobbar i nära samarbete med Bankettansvarig i Projektgruppen och Underhållningsgruppledaren, för planering av filmmaterialet. Främsta ansvarsområde är att spela in och redigera all rörlig bild, varför det är viktigt att ett stort intresse för detta innehas. Som Filmgruppledare kommer du även att ansvara för ett antal filmvärdar som stöttar dig i arbetet med bankettfilmerna. Vi söker dig som har goda kunskaper och ett visst mått av erfarenhet gällande filmproduktion och redigering. Du ska vara en kreativ själ med många idéer. Arbetsprover är meriterande.

		#salj
		%h4 Sälj- & inköpsgruppledare Bankett (1 st)
		%p Sälj- och inköpsgruppledaren ansvarar för att Banketten säljs in på bästa möjliga sätt till företag och studenter. Ansvaret ligger i att söka spons (tillsammans med Sponsgruppledaren), och göra rätt inköp i linje med det övergripande temat på Banketten samt ansvara för Bankettens gäster. Gemensamt för alla Bankettgruppledare är att de ska vara glada och utåtriktade, trivas i festsammanhang och vara villiga att arbeta hårt. Förutom att planera, utforma och arrangera festen tillsammans med Bankettansvarig och de övriga Bankettgruppledarna ska du som Gruppledare över Sälj och inköp på ett kreativt sätt skapa ett mervärde samt extra synlighet för våra Huvudsamarbetspartner. Vi ser även att du är utåtriktad, självständig och har god samarbetsförmåga då du kommer att ha ansvaret över Bankettgruppens värdar och en kontinuerlig kontakt med Spons- och inköpsansvarig samt Kampanjansvarig i Projektgruppen.
#logistik-system.row
	.inner
		%h3 Logistik & System
		%p Logistik och Systemgruppens (L/S-gruppen) uppgift är att ansvara för planeringen och genomförandet av det operativa arbetet under mässan. Inom gruppen finns även funktioner för att hantera projektgruppens internwebb, rekrytering av värdar, teknik samt för att överse säkerheten. Logistik- och systemgruppens arbete intensifieras under hösten. Under året kommer gruppen även att kampanja, intervjua kandidater under värdrekryteringen samt utföra andra relaterade arbeten.


		#system
		%h4 Systemutvecklare (2-4 st)
		%p I rollen som Systemutvecklare ingår du i ett nära samarbete med Projektgruppen och i synnerhet med Systemansvariga. Uppgiften som Systemutvecklare är att underhålla Armadas nuvarande interna system, samt utveckla projektets nya interna system. Du skall dessutom stå till tjänst i övriga tekniska frågor. Vi arbetar mycket mot fasta deadlines och det är ofta kritiskt att vårt arbete blir färdigt i tid då alla inom projektet är mer eller mindre beroende av internwebben. Därför söker vi dig som är ansvarsfull, stresstålig samt har en god samarbetsförmåga. Du bör ha tidigare erfarenhet av programmering samt ett stort intresse för systemutveckling och problemlösning. Kunskaper inom webbutveckling är ett krav och då främst inom Ruby on Rails eller javascript. Kunskaper inom css, databaser (mysql, sqlite3, postgresql) och Linux är meriterande. Du skall vara beredd att kunna visa upp något form av arbetsprov.

		#mass-gl
		%h4 Mässgruppledare (15 st)
		%p Mässgruppledaren fungerar som en länk mellan Mässansvariga och Företagsvärdarna. Arbetet består främst i att sammansvetsa, motivera och leda sin grupp. Gruppledaren kommer även bli tilldelad ytterligare ansvarsområden som berör förberedande arbete inför mässan. Under mässan ansvarar Mässgruppledaren för omkring 10 Företagsvärdar och det är viktigt att denne ser till att kontakten mellan värdar och företag fungerar bra. I rollen som Mässgruppledare skall du gilla att träffa nya människor och kunna samarbeta väl med personer från skilda bakgrunder och med olika personligheter. Därför söker vi dig som är ansvarsfull, utåtriktad och har en positiv inställning. Förutom att vara bekväm i ledarrollen ser vi även att du är strukturerad och kreativ för att kunna lösa de logistiska utmaningar som kan uppstå.

		#spec-log
		%h4 Specialstyrkan: Logistik-gruppledare (1 st)
		%p Specialstyrkan sköter tekniken samt det logistiska flödet innan, under och efter mässan och är därför uppdelad i en logistikdel och en teknikdel. Logistikgruppledaren fungerar som en länk mellan Logistikansvarig och Logistikvärdarna. I rollen som Logistikgruppledare leder du en grupp om 8 värdar där din uppgift är att planera och koordinera deras arbete. Det är viktigt att du har en tydlig bild av KTHB och Nymble samt att du är väl insatt i hur planeringen av mässan ser ut. Som Logistikgruppledare är du en person som är strukturerad, initiativrik och ansvarstagande samt har ett intresse för logistik och planering. Logistikgruppledaren har ett nära samarbete med Teknikgruppledaren.

		#spec-tek
		%h4 Specialstyrkan: Teknik-gruppledare (1 st)
		%p Specialstyrkan sköter tekniken samt det logistiska flödet innan, under och efter mässan och är därför uppdelad i en teknikdel och en logistikdel. Teknikgruppledaren fungerar som en länk mellan Logistikansvarig och Teknikvärdarna. I rollen som Teknikgruppledare leder du en grupp om 8 värdar där du ansvarar för försörjningen av el och nätverksanslutningar under mässan. Det är en fördel om du har lite kunskap i att dimensionera elektrisk belastning men det viktiga är att du har ett genuint intresse för teknik och är villig att lära dig. Som Teknikgruppledare är du en person som är strukturerad, initiativrik och ansvarstagande samt har ett intresse för teknik. Teknikgruppledaren har ett nära samarbete med Logistikgruppledaren.

		#rep-gl
		%h4 Representations-gruppledare (1 st)
		%p Varje år gästas Armada av representanter från andra universitet som arrangerar arbetsmarknadsdagar. Representationsgruppledaren planerar deras besök och ser till att de trivs under sin vistelse under mer avslappnade förhållanden. Till sin hjälp har gruppledaren ett fåtal värdar att ansvara över vid planeringen och mottagandet av gästerna. Rollen kräver en mycket social person som gillar att träffa nya människor och knyta kontakter samt en känsla och fallenhet att föra sig i studentikosa sammanhang. Utöver sociala egenskaper är det viktigt att gruppledaren har en god känsla för logistik och service. Körkort är meriterande.

		#representationssittning
		%h4 Representationssittnings-gruppledare (1 st)
		%p Representationssittningsgruppledaren ansvarar för planering och genomförande av Representationssittningen – Armadas gasque för inbjudna representanter från de andra arbetsmarknadsmässorna runt om i Sverige. Förutom att anordna Representationssittningen med tillhörande underhållning bär du ansvaret för en grupp värdar som hjälper dig under kvällen. Till rollen efterfrågas du som är en engagerad och ansvarsfull person med tydliga ledaregenskaper samt en känsla och fallenhet att föra dig i studentikosa sammanhang. Erfarenheter från festarrangemang, restaurang eller liknande servicearbete är meriterande men inget krav.
