#logo=image_tag "logo.png"
%h1 Rekrytering 2015
%h2 Roller och beskrivningar 2015

#ansok.row
	%div.rep
		%h3= link_to 'Ansök här!', 'http://rekrytering.armada.nu/ansokan'
	%p
	%h4 OBS: Om ni får ett error-meddelande vid ansökan, skicka då ett mail till
	%h4= link_to "support@armada.nu", "mailto:support@armada.nu"
	%p
#om.row
	.inner
		%h3 Vad är THS Armada
		%p THS Armada är Tekniska Högskolans Studentkårs arbetsmarknadsdagar och ett av de största projekten på KTH. Under november samlas fler än 10 000 talangfulla studenter och cirka 150 arbetsgivare för att lära känna varandra. THS Armada innefattar både en arbetsmarknadsmässa, flertalet event och en storslagen bankett. Arbetsmarknadsdagarna arrangerades för första gången 1981 och har varit en återkommande höstföreteelse på KTH sedan dess. Projektet omsätter över 6 miljoner kronor och engagerar runt 300 studenter på KTH. Nytt för THS Armada 2015 är digitalisering av mässkatalogen samt arbetet med att internationalisera organisationen genom att bland annat ge utbytesstudenter möjligheten att söka rollen som värd.

		<br/>
		%h4 Kontakt

		#contact
			.span5
				%p 
					%span Gustav Frid
					%span Projektledare
					%span 08-790 98 44
					%span= link_to "armada@ths.kth.se", "mailto:armada@ths.kth.se"
			.span5
				%p 
					%span Kajsa Castor
					%span Rekryteringsansvarig
					%span 073-754 78 95
					%span= link_to "kajsa.castor@armada.nu", "mailto:kajsa.castor@armada.nu"
			.clear
#thsarmda.row
	.inner
		%h3 Vad innebär det att vara en del av THS Armada
		%p Som en del av THS Armadas team arbetar du tillsammans med projektgruppen och värdar med planering och genomförande av mässa, event och avslutande bankett. För att skapa förutsättningar att genomföra projektet på bästa sätt söker vi nu olika typer av personer till flertalet olika roller som finns beskrivna nedan. Gemensamt för alla roller är att du är motiverad och driven att tillsammans med övriga delar i projektet skapa en värdefull möjlighet för studenter och näringsliv att mötas.

		%p Alla som är med i THS Armada förväntas delta i höstens marknadsföringskampanjer, samt genomföra intervjuer under värdrekryteringen. Det är dessutom viktigt att vara medveten om att planering, förberedelser och teambuilding börjar redan under våren även om mässa och event äger rum i höst.

		%p Vi hoppas att du vill vara en del av vårt team och ser fram emot din ansökan senast den 21 april! Om du har frågor eller funderingar är du varmt välkommen att kontakta oss.

#media-kommunikation-system.row
	.inner
		%h3 Marknadsföring, Kommunikation och System
		%p Marknadsföring, Kommunikation och Systemgruppen (MKS) ansvarar för att THS Armada har en enhetlig och fungerande kommunikation, både externt och internt. Gruppen ansvarar för kampanjer, marknadsföring och grafiskt material, samt underhåll och utveckling av hemsida, mobilapplikation och interna system.

		#app-utv
		%h4 Applikationsutvecklare (4 st)
		%p Som Applikationsutvecklare är din uppgift är att förbättra och utveckla THS Armadas applikationer för iOS/Android. Arbetet kommer att ske parvis med två utvecklare för varje plattform med ett starkt samarbete mellan grupperna och ansvarig i projektgruppen. Du kommer även att arbeta nära Webbutvecklarna och Systemutvecklarna. Som Applikationsutvecklare arbetar du med att planera, implementera och upprätthålla applikationens funktionalitet. Rollen som Applikationsutvecklare utmanar din kreativitet och problemlösning samtidigt som den sätter stor press på din kommunikativa förmåga. Du har goda kunskaper datalogi och Android/iOS eller Java/Obj-Ci. Arbetsprover och kunskaper inom databaser, dataanalys och versionhantering är meriterande.

		#back-end
		%h4 Backend-utvecklare (1 st)
		%p Som Backend-utvecklare kommer du huvudsakligen att arbeta med webbutveckling på serversidan men även en del frontend-utveckling kommer att ingå. Arbetet kommer att ske i ett nära samarbete med IT-Webbansvarig i projektgruppen samt med Applikationsutvecklarna och Systemutvecklarna. Den tekniska miljön är Ruby on Rails. Du har erfarenhet av webbutveckling på serversidan med något/några webbramverk och programmeringsspråk som Ruby, Python eller Java. Dessutom har du kunskaper inom databaser, dataanalys och versionhantering. Vi söker dig som är strukturerad, analytisk, lösningsoritenterad och är en kommunikativ lagspelare. Arbetsprover och kännedom inom Node.Js, Angular.Js och/eller PHP är meriterande.

		#front-end
		%h4 Frontend-utvecklare (1 st)
		%p Som Frontend-utvecklare kommer du att arbeta med webbutveckling i ett nära samarbete med IT-Webbansvarig i projektgruppen samt med Applikationsutvecklarna och Systemutvecklarna. De tekniska kunskaperna som krävs är HTML5, CSS3, Javascript, jQuery och MySQL. Vi söker dig som är kreativ, stresstålig och har ett starkt intresse för webbutveckling med ett sinne för användbarhet och design. Du drivs av att få ut innovativa digitala produkter och är en kommunikativ lagspelare. Arbetsprover och kännedom inom Node.Js, Angular.Js, Ruby On Rails och/eller PHP är meriterande.

		#system
		%h4 Systemutvecklare (4 st)
		%p I rollen som Systemutvecklare ingår du i ett nära samarbete med Systemansvariga i projektgruppen samt med Applikationsutvecklarna och Webbutvecklarna. Din huvudsakliga uppgift som Systemutvecklare är att bygga ett helt nytt internsystem för THS Armada samt att underhålla nuvarande interna system. Tanken med det nya systemet är att ha en API-driven utveckling som kontinuerligt växer fram under året. Därför söker vi dig som har passion för utveckling, en god problemlösningsförmåga och är kommunikativ. Du har kunskaper inom programmering, relationsdatabaser och erfarenhet av att arbeta med Linux. Erfarenhet inom webbutveckling och arbetsprover är meriterande.

		#kampanj-koordinator
		%h4 Kampanjkoordinator (2 st)
		%p Som Kampanjkoordinator ansvarar du tillsammans med Kampanjansvarig i projektgruppen för att lägga upp en plan för marknadsföringen av THS Armada, vilket inkluderar bland annat värdrekrytering och event. Dessutom koordinerar du det operativa kampanjarbetet som utförs av hela projektet. Du som Kampanjkoordinator har ett intresse för marknadsföring, är strukturerad, kreativ och tycker om att synas på campus. Den viktigaste egenskapen är dock att du är utåtriktad och älskar THS Armada.

		#foto-gl
		%h4 Fotogruppledare (1 st)
		%p Som Fotogruppledare ansvarar du för att THS Armada förmedlar ett enhetligt fotografiskt uttryck samt för att bistå hemsida, sociala medier och kampanjer med fotomaterial. Du arbetar tillsammans med och ansvarar för att koordinera ett antal fotovärdar men har också nära samarbete med Copywriter i projektgruppen. Vi söker dig som har ett stort intresse för fotografering, erfarenhet inom bildbehandling och har förmågan att leda en grupp. Även kreativitet och stresstålighet är önskvärt. Arbetsprover är meriterande.

		#kampanj-filmskapare
		%h4 Kampanj: Filmskapare (1 st)
		%p Som Filmskapare skapar du filmer som används i marknadsföringssyfte för THS Armada. Rollen har nära samarbete med Copywriter i projektgruppen under idégenerering, och själva arbetet kommer till stor del ske under sommaren. Vi söker dig som har ett stort intresse för filmproduktion och viss erfarenhet av att spela in och redigera rörlig bild. Du är dessutom kreativ, har många idéer och är strukturerad. Arbetsprover är meriterande.

		#grafisk-formgivare
		%h4 Grafisk formgivare (2 st)
		%p Som Grafisk formgivare arbetar du i nära samarbete med projektets Art Directors och hela projektgruppen. Arbetet kommer att innefatta att ta fram både tryckt och digitalt material i olika former. Du kommer att jobba utifrån THS Armadas grafiska profil med utrymme för kreativ frihet. Vi söker dig som är självständig, kreativ och har många idéer samt behärskar Adobe CC-program. Arbetsprover är meriterande.

#naringsliv-event.row
	.inner
		%h3 Näringsliv och Event
		%p Näringsliv och Eventgruppen (NE) ansvarar tillsammans för genomförandet av alla THS Armadas event samt den avslutande banketten. Gruppen är dessutom ansvarig för all företagskontakt samt koordinering av spons- och inköpsarbete.

		%h4.bankett Bankett
		%p THS Armadas bankett med efterföljande eftersläpp, Club Armada, avslutar den första mässdagen. Bankettgruppen ansvarar tillsammans för hela banketten - planering, idégenering samt det operativa arbetet inför, under och efter banketten.

		#log-bankett
		%h4 Bankett: Logistikgruppledare (1 st)
		%p Som Logistikgruppledare ansvarar du främst för den operativa driften av banketten. I rollen ingår ansvarsområden som människoflöden, uppriggning och nedriggning av bankettlokalen samt koordinering av biljettförsäljningen för Club Armada. Du ansvarar även för en grupp värdar vilket kräver ett strukturerat och inkluderande ledarskap. Vi söker dig som är utåtriktad och är bekväm med att fatta snabba beslut för att kunna lösa oförutsedda problem som kan uppstå. I rollen har du också ett nära samarbete med Kampanjkoordinatorerna vid planering inför marknadsföring av banketten.

		#inredning-bankett
		%h4 Bankett: Inrednings- och Inköpsgruppledare (1 st)
		%p Som Inredning- och Inköpsgruppledare ansvarar du främst för att på ett kreativt sätt inreda bankettlokalen i linje med det övergripande temat och budgeten för festen. Du kommer att koordinera och ta emot leveranser till banketten samt ha ett nära samarbete med Sponskoordinatorerna. Du ansvarar dessutom för en grupp värdar vilket kräver ett strukturerat och inkluderande ledarskap. Vi söker dig som är självständig, utåtriktad och har en god kommunikativ förmåga.

		#event-bankett
		%h4 Bankett: Eventteknikkoordinator (1 st)
		%p Du som Eventteknikkoordinator har det övergripande ansvaret för teknik, ljud och ljus till banketten. I rollen ingår även ansvaret för den kontinuerliga kontakten med lokalansvarig samt externa tekniker som kommer arbeta under banketten och Club Armada. Vi söker dig som har intresse och känsla för hur teknik på ett kreativt sätt kan integreras för att skapa en önskvärd atmosfär under banketten. Du är dessutom kommunikativ och tydlig då du förväntas koordinera uppgifter mellan både interna och externa parter.

		#underhallning-bankett
		%h4 Bankett: Underhållningsgruppledare (1 st)
		%p Underhållningsgruppledaren ansvarar i huvudsak för planering av kvällens minutschema samt bokning av artister och konferencier. Tillsammans med Filmgruppledaren arbetar du även med att framställa de filmer som skall visas under middagen. Under hösten arbetar du tillsammans med en värd. Vi söker dig som är utåtriktad, stresstålig, strukturerad och har en god kommunikationsförmåga. Det är önskvärt att du är säljinriktad då du är ansvarig för att förhandla avtal med externa parter.

		#filmgl-bankett
		%h4 Bankett: Filmgruppledare (1 st)
		%p Som Filmgruppledare är du tillsammans med Underhållningsgruppledaren ansvarig för allt filmmaterial som visas under banketten. Ditt främsta ansvarsområde är den kreativa processen samt inspelning och redigering av all rörlig bild. Du är dessutom ansvarig för att leda en grupp värdar som arbetar tillsammans med dig vid skapandet av filmerna. Vi söker dig som har ett stort intresse för filmproduktion samt viss erfarenhet av att spela in och redigera rörlig bild. Arbetsprover är meriterande.

		#event
		%h4 Eventgruppledare (5 st)
		%p Tillsammans med Eventansvarig i projektgruppen bildar Eventgruppledarna det team som leder och utformar alla event som arrangeras innan och under mässan. Varje Eventgruppledare är huvudansvarig för ett större och ett antal mindre event där det finns utrymme för kreativitet och egna idéer. Förutom planering och genomförande av eventen innebär rollen också en nära kontakt med de deltagande företagen. Som Eventgruppledare har du även ansvar att leda en grupp värdar och koordinera gruppens arbete. Vi söker dig som är strukturerad, tydlig i din kommunikation och har ett inkluderande ledarskap.

		#spons
		%h4 Sponskoordinator (2 st)
		%p Som Sponskoordinator kommer du tillsammans med Spons- och Serviceansvarig i projektgruppen leda och koordinera allt sponsarbete. Arbetet innebär ansvar för att ta fram sponsring till mässans lounger, banketten och eventen. Under mässan ansvarar Sponskoordinatorerna för det operativa arbetet av företagsreceptionerna. Vi söker dig som är utåtriktad, strukturerad, ger ett professionellt intryck och är intresserad av att sälja konceptet THS Armada. Som Sponskoordinator kommer du att arbeta nära gruppledare från bankett, event, kampanj, lounge och service.

		#lounge
		%h4 Loungegruppledare (2 st)
		%p Som Loungegruppledarna är du ansvarig för att planera, utforma och driva utställarlounger i KTHB och Nymble under mässdagarna. Arbetsuppgifterna inkluderar allt från att lösa de logistiska utmaningar kring loungerna till att söka spons tillsammans med Sponskoordinatorerna. Du ansvarar för att leda en grupp värdar samt koordinera det operativa arbetet innan, under och efter mässan. Vi söker dig som är strukturerad, kommunikativ, självgående och kundorienterad. Loungegruppledarna kommer att arbeta nära Servicegruppledarna och Sponskoordinatorerna.

		#service
		%h4 Servicegruppledare (2 st)
		%p Som Servicegruppledarna ansvarar du för den allmänna service som THS Armada bistår besökarna och mässdeltagarna i Nymble och KTHB. Arbetet innebär utformning och planering av studentlounge, servicediskar och garderober. Du som Servicegruppledare är strukturerad och kommunikativ då du leder en grupp värdar samt koordinerar det operativa arbetet innan, under och efter mässan. Vi söker dig som är serviceinriktad, kundorienterad samt självgående. Servicegruppledarna kommer att arbeta nära Loungegruppledarna och Sponskordinatorerna.

#logistik-massa.row
	.inner
		%h3 Logistik och Mässa
		%p Logistik och Mässgruppen (LM) ansvarar för planering och genomförande av det operativa arbetet innan, under och efter mässan. Gruppen är även ansvarig för rekryteringen av THS Armadas team och mottagandet av representanter från andra högskolor under mässan.

		#mass-gl
		%h4 Mässgruppledare (15 st)
		%p Som Mässgruppledare är din huvuduppgift att leda en grupp Företagsvärdar under det operativa arbetet innan, under och efter mässan. Du bidrar även till att skapa ett tydligt informationsflöde mellan projektgruppen och värdarna. Varje Mässgruppledare kommer dessutom att tilldelas ett större uppdrag som till exempel kan innebära ansvar för värdutbildning eller teambuilding. Det ställs krav på att du är lösningsorienterad och bekväm med att fatta snabba beslut för att kunna lösa oförutsedda problem under mässan. Vi söker dig som är strukturerad, kommunikativ och intresserad av människor.

		#spec-log
		%h4 Specialstyrkan: Logistikgruppledare (1 st)
		%p Specialstyrkan sköter tekniken och det logistiska flödet inför, under och efter mässan. Arbetet är uppdelat i en logistikdel och en teknikdel. Du som Logistikgruppledare arbetar tillsammans med Logistikansvarig i projektgruppen med planering av det logistiska flödet i samband med mässan. I rollen leder du en grupp värdar där din uppgift är att planera och koordinera gruppens arbete. Vi söker dig som är strukturerad, initiativrik och lösningsorienterad samt har ett intresse för logistik och planering. Logistikgruppledaren har ett nära samarbete med Teknikgruppledaren.

		#spec-tek
		%h4 Specialstyrkan: Teknikgruppledare (1 st)
		%p Specialstyrkan sköter tekniken och det logistiska flödet inför, under och efter mässan. Arbetet är uppdelat i en logistikdel och en teknikdel. Du som Teknikgruppledare arbetar tillsammans med Logistikansvarig i projektgruppen med planeringen av all teknik i samband med mässan. I rollen som Teknikgruppledare leder du en grupp värdar där du ansvarar för försörjningen av el- och nätverksanslutningar under mässan. Det är en fördel om du har kunskap i att dimensionera elektrisk belastning men det viktiga är att du har ett genuint intresse för teknik och är villig att lära dig. Vi söker dig som är strukturerad, initiativrik och lösningsorienterad. Teknikgruppledaren har ett nära samarbete med Logistikgruppledaren.

		#rep-gl
		%h4 Representationsgruppledare (1 st)
		%p Varje år gästas THS Armada av representanter som arrangerar arbetsmarknadsmässor på andra universitet.Tillsammans med ett antal värdar ansvarar Representationsgruppledaren för att planera representanternas vistelse och för att se till att de trivs under mässdagarna. Vi söker dig som är självgående, utåtriktad och serviceinriktad, dessutom har du en kommunikativ ledarskapsförmåga. Utöver sociala egenskaper är du lösningsorienterad och har en god känsla för logistiska flöden.

		#representationssittning
		%h4 Representationssittningsgruppledare (1 st)
		%p Som representationssittningsgruppledare ansvarar du för planering och genomförande av representationssittningen – THS Armadas gasque för representanter från andra arbetsmarknadsmässor. Du ansvarar för att anordna sittningen med tillhörande underhållning och för att koordinera en grupp värdar som tillsammans med dig skapar en stämningsfull och studentikos kväll. Vi söker dig med ett inkluderande och kommunikativt ledarskap. Du är dessutom självgående och strukturerad.